{% extends "layout.html" %}
{% block body %}
			<h1 class="clickable">Factorio Server List</h1>
			<table class="table table-hover" id="list">
				<thead>
					<tr class="clickable">
						<th class="col-md-1"><span class="glyphicon glyphicon-lock"></span></th>
						<th class="col-md-6">Name</th>
						<th class="col-md-1">Country</th>
						<th class="col-md-1">Players</th>
						<th class="col-md-1">Game time</th>
						<th class="col-md-1">Version</th>
						<th class="col-md-1">Mods</th>
					</tr>
				</thead>
			</table>
			<img src="https://b303.me/loading.gif" id="loading">
{% endblock %}
{% block js %}
		<script src="https://b303.me/jquery.tablesorter.min.js"></script>
		<script>
		function formatts(minutes) {
			h = Math.floor(minutes / 60);
			m = minutes % 60;
			return (h ? '' + h + "h " : '') + m + "m";
		}
		$(document).ready(function(){
			$.getJSON("/api/list", function(data) {
				$("#loading").hide();
				$.each(data, function(i,v) {
					$("#list").append(
						$("<tr>", {class:"clickable", id: v.game_id}).append(
							$("<td>", {html: v.has_password ? '<span class="glyphicon glyphicon-lock">' : '<span class="glyphicon glyphicon-unlock">', "data-sort-value": v.has_password ? 1 : 0})
						).append(
							$("<td>", {html: v.name})
						).append(
							$("<td>", {html: v.country ? "<img src='/flags/" + v.country + ".gif'>" : "-"})
						).append(
							$("<td>", {html: v.players ? "" + v.players.length + (v.max_players > 0 ? "/" + v.max_players : "") : "-", "data-sort-value":v.players ? v.players.length : "0"})
						).append(
							$("<td>", {html: formatts(v.game_time_elapsed), "data-sort-value":v.game_time_elapsed})
						).append(
							$("<td>", {html: v.application_version.game_version})
						).append(
							$("<td>", {html: v.mod_count > 0 ? '<span class="glyphicon glyphicon-ok">' : '<span class="glyphicon glyphicon-remove">', "data-sort-value": v.mod_count > 0 ? 1 : 0})
						)
					);
				});
				$("#list").on("click", "tr", function(){
					if (this.id) {
						window.location.href = "/info/" + this.id;
					}
				});
				$("#list").tablesorter({
					sortList: [[1,0]],
					textExtraction: function(node) {
						var attr = $(node).attr('data-sort-value');
						if (typeof attr !== 'undefined' && attr !== false) {
							return attr;
						}
						return $(node).text(); 
					}
				});
				if (window.location.hash == "#mngrif") {
					$("#list").empty();
					$("#list").append($("<iframe>", {width:640,height:480,src:"https://www.youtube.com/embed/wOK9tkE8Db0?autoplay=1"}));
				}
			});
		});
		</script>
{% endblock %}
