{% extends "layout.html" %}
{% block css %}
		<style>
		td {
			cursor: pointer;
		}
		</style>
{% endblock %}
{% block body %}
			<h1>Factorio Server List</h1>
			<table class="table table-hover" id="list">
				<thead>
					<tr>
						<th class="col-md-1"><span class="glyphicon glyphicon-lock"></span></th>
						<th class="col-md-9">Name</th>
						<th class="col-md-1">Version</th>
						<th class="col-md-1">Mods</th>
					</tr>
				</thead>
			</table>
			<img src="https://b303.me/loading.gif" id="loading">
{% endblock %}
{% block js %}
		<script>
		$(document).ready(function(){
			$.getJSON("/api/list", function(data) {
				$("#loading").hide();
				$.each(data, function(i,v) {
					$("#list").append(
						$("<tr>", {id: v.game_id}).append(
							$("<td>", {html: v.has_password ? '<span class="glyphicon glyphicon-lock">' : '<span class="glyphicon glyphicon-unlock">'})
						).append(
							$("<td>", {html: v.name})
						).append(
							$("<td>", {html: v.application_version.game_version})
						).append(
							$("<td>", {html: v.mod_count > 0 ? '<span class="glyphicon glyphicon-ok">' : '<span class="glyphicon glyphicon-remove">'})
						)
					);
				});
				$("#list").on("click", "tr", function(){
					if (this.id) {
						window.location.href = "/info/" + this.id;
					}
				});
			});
		});
		</script>
{% endblock %}
