{% extends "layout.html" %}
{% block body %}
			<h1 class="clickable">Factorio Server List - {{ title }}</h1>
			<table class="table">
				<tr>
					<th>Name</th>
					<td>{{ d.name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ d.description }}</td>
				</tr>
				<tr>
					<th>Passworded</th>
					<td>{% if d.has_password == "true" %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
				</tr>
				<tr>
					<th>Country</th>
					<td><img src="/flags/{{ d.country }}.gif"> {% if d.asn %}<a href="https://ipinfo.io/{{ d.asn.split(" ")[0] }}">{{ d.asn }}</a>{% else %}<a href="https://ipinfo.io/{{ d.host_address.split(':')[0] }}">Unknown</a>{% endif %}</td>
				</tr>
				<tr>
					<th>Tags</th>
					<td>{{ d.tags|join(",") }}</td>
				</tr>
				<tr>
					<th>Players</th>
					<td>{{ d.players|join(", ") }}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td><textarea>{{ d.host_address }}</textarea></td>
				</tr>
				<tr>
					<th>Mods{% if d.mods|length > 1 %} <span id="moddl" class="glyphicon glyphicon-download clickable" data-toggle="tooltip" title="Remember to enable popups for this site"></span>{% endif %}</th>
					<td>
						{% for mod in d.mods %}<a class="modlink" href="/api/getmod/{{ mod.name }}/{{ mod.version }}" id="{{ mod.name }}" target="_blank">{{ mod.name }} {{ mod.version }}</a><br>{% endfor %}
					</td>
				</tr>
			</table>
{% endblock %}
{% block js %}
			<script>
				$(document).ready(function(){
					$('[data-toggle="tooltip"]').tooltip();
				});
				$("#moddl").on("click", function(e){
					$(".modlink").each(function(i,e){
						if (e.id !== "base") e.click();
					});
				});
			</script>
{% endblock %}
